.content {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightskyblue;
  padding: 20px;
  width: 100%;
}

.body {
  background-image: https://images-na.ssl-images-amazon.com/images/I/51y6dy0T8sL._AC_SL1000_.jpg;
}

#display {
  width: 100%;
}

#slider {
  width: 50%;
}

#length {
  display: inline-block;
  width: 100px;
}

.previous_passwords {
  margin-bottom: 20px;
}
